@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--primary-color: #3dd24c;
	/* --primary-color: #3b3b3b; */
	--secondary-color: #12882c;
	/* --secondary-color: #1e1e1e; */
	--disabled-color: #7cfb98;
	--off-white-color: #f1f1f1;
	--white-color: #fff;
	--black-color: #000;
	--gold-color: #e2b355;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* * {
	outline: red 1px solid;
} */

:nth-child(1) {
	--index: 1;
}
:nth-child(2) {
	--index: 2;
}
:nth-child(3) {
	--index: 3;
}
:nth-child(4) {
	--index: 4;
}
:nth-child(5) {
	--index: 5;
}
:nth-child(6) {
	--index: 6;
}
:nth-child(7) {
	--index: 7;
}
:nth-child(8) {
	--index: 8;
}
:nth-child(9) {
	--index: 9;
}
:nth-child(10) {
	--index: 10;
}

.border-tooltip::after {
	border-color: transparent transparent var(--secondary-color) transparent;
}

.border-tooltip-dark::after {
	border-color: transparent transparent #fff transparent;
}

.gtc {
	grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.modal {
	box-shadow: 0px -258px 7px 20000px #000000bf;
}

.custom-shadow {
	box-shadow: inset 0px 0px 5px 2px #12882c24;
}

.flip {
	animation: flip 2s infinite;
	animation-delay: calc(0.2s * var(--index)) !important;
}

@keyframes flip {
	0%,
	80% {
		/* transform: rotateY(360deg); */
		transform: matrix(1, 0, 0, 1, 13, 0);
	}
}
